*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1900px;
    width: 100%;
    margin: auto;
}

.font-font{
    font-family: 'Work Sans', sans-serif;
}
.move{
    border: solid 2px gray;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: gray;
    font-size: 20px;
    
}
.nav-bar{
    padding: 20px;
}
.nav-bal{
    display: flex;
    justify-content: space-evenly;
}
.nav-bal-two{
    display: flex;
}
.nav-small{
    font-size: 30px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.gram, .about{
    color: #592ee8;
}
.nav-item{
    padding: 10px 20px;
}
.Free-Analytics{
    border: solid 1px;
    background-color: #592ee8;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
.row-align{
    display: flex;
    background-color: #f7f2f2;
    width: 60%;
    margin: auto;
    border: solid 1px #f7f2f2;
    border-radius: 20px;
}
.row-align-one{
    width: 60%;
    padding: 50px;
}
.row-align-two{
    width: 50%;
    padding: 50px;
}
.image-one{
    width: 80%;
}
.optimize ,.ignite{
    line-height: 30px;
    margin-bottom: 20px;
}
.watch-video{
    width: 125px;
    border:solid 1px #592ee8;
    border-radius: 20px;
    padding: 10px 20px;
    background: #5950d3;
}
.page-banner{
    position: relative;
}
.arrow{
    position:absolute;
    left: 50%;
    border: solid 1px #fff;
    border-radius: 20px;
    width: 15px;
    height: 25px;
    background: #fff;
    bottom:0;
    padding-top: 10px;
}
.section-one ,.section-two ,.section-three ,.section-four ,.section-five ,.section-six ,.section-seven ,.page-footer{
    padding: 50px;
}
.row-lg{
    display: flex;
    justify-content: center;
}
.col-bg{
    background: #f7f2f2;
    border:solid 1px #f7f2f2;
    box-shadow:0 2px 15px #888888;
    width: 15%;
    height: 100%;
    margin: 40px;
    text-align: center;
}
.Consultancy{
    font-size: 20px;
}
.total{
    padding: 10px;
}
.sub-change{
    height: 30px;
}
.sub-bg{
    text-align: center;
}
.image-two{
    width: 30%;
}
.sub-bg{
    font-size: 15px;
}
.distance{
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.erase{
    text-decoration: none;
    color: #fff;
}
.read-more{
    border:solid 1px #592ee8;
    background: #592ee8;
    padding: 10px 20px;
}
.bag-bj{
    display: flex;
    width: 60%;
    margin: auto;
}
.bag-bj-one{
    width: 50%;
}
.horizontal{
    width: 50px;
    height: 3px;
    background-color:#592ee8;
    margin-bottom: 10px;
}
.bag-bj-two{
    width: 50%;
    text-align: center;
}
.image-three{
    width: 90%;
    border: solid 1px white;
    border-radius: 20px;
}
.section-three{
    background: #f7f2f2;
}
.text-center{
    text-align: center;
}
.bg-lign{
    width: 40px;
    height: 3px;
    background-color: #592ee8;
    margin: auto;
}
.mai-business{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    padding-top: 30px;
}
.header-mp{
    border: solid 1px white;
    border-radius: 50%;
    background: white;
    width: 40px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
}
.sub-mai-business{
    text-align: center;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.fa-building{
    color: #5950d3;
    font-size: 20px;
}
.distance-sub{
    margin-bottom: 10px;
}
.section-four{
    background-image: radial-gradient(circle,#B262F8 15%,#5439F8);
}
.check-mb{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.col-hg{
    background: #fff;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.domain{
    border: solid 1px #ffffff;
}
.check-now{
    padding: 10px 20px;
    background: #0ddd86;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
}
.tetle-section{
    margin-bottom: 10px;
}
.row-mt{
    display: flex;
    text-align: center;
    justify-content: center;
}
.card-pricing{
    margin: 20px;
    padding: 20px;
    box-shadow:0 2px 15px #888888;
}
.woa-zoomin{
    background-color: #e7e3fe;
    width: 15%;
}
.wow-zoomin{
    background-color: #6c55f9;
    width: 15%;
}
.php{
    width: 100%;
    height: 1px;
    background-color: blue;
    margin-bottom: 10px;
}
.hph{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.col-fb{
    margin-bottom: 10px;
    font-size:15px
}
.nav-hl{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-sub{
    background-color: #B8B4D5;
    height: 30px;
    margin: 20px 0;
}
.nav-ribe{
    background-color: #fff;
    height: 30px;
    margin: 20px 0;
}
.Newsletter{
    font-weight: 500;
}
.contact{
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}
.contacts{
    line-height: 30px;
    text-decoration: none;
    color: #6c55f9
}
.section-six{
    background-color: #5439f8;
}
.sitbeo{
    display:flex;
    justify-content: center;
}
.image-two{
    width: 100px;
}
.passionate{
    width: 70%;
}
.waiter{
    padding-left: 40px;
    width: 70%;
}
.alitric{
    width: 50px;
    height: 4px;
    background-color: #fff;
}
.theme-list{
    margin-bottom: 20px;
}
.row-image{
    display: flex;
    width: 70%;
    margin: auto;
}
.image-five{
    width: 100%;
}
.index{
    margin: 40px;
    box-shadow: 0 2px 15px #888888;
}
.index-sub{
    width: 100%;
    background:#e7e3fe;
    padding: 12px;
    box-sizing: border-box;
    margin: auto;
}
.frames{
    text-align: center;
}
.pope-title{
    text-decoration: none;
    color: black;
    font-size: 23px;
}
.pope-may{
    text-decoration: none;
    color: #6C55F9;
}
.our-blog{
    color: #898798;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}
.read-latest-news{
    font-size: 40px;
    font-weight: 500;
    color: #645F88;
}
.our-blog, .read-latest-news{
    margin-bottom: 15px;
}
.cross{
    margin-bottom: 50px;
}
.page-footer{
    background-image:url(https://img4.thuthuatphanmem.vn/uploads/2020/05/12/hinh-anh-xam-don-gian_103624444.jpg);
}
.rbg-sc{
    display: flex;
    width: 70%;
    margin: auto;
}
.social-media{
    display: flex;
    margin-top: 20px;
}
.sub-media{
    border: solid 1px #fff;
    padding: 5px;
    border-radius: 50%;
    background:#fff;
    margin: 5px;
}
.soso-media{
    color: #888888;
}
.end-link{
    list-style-type:none;
}
.movid{
    text-decoration: none;
    color:#898798;
}
.sol{
    width: 25%;
    text-align: left;
}
.col-mpp{
    flex-wrap: wrap;
}
.ipsum{
    width: 90%;
}
.enter-you-email ,.sub-Subscribe{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.enter-you-email{
    padding: 10px;
    border:solid 1px #fff;
}
.sub-Subscribe{
    background:#2eddaf;
    border:solid 1px #2eddaf;
    color: white;
}
.freecssfooter{
    height: 150px;
}
.end-end{
    text-align: center;
    margin-top: 20px;
}
.Copyright{
    color: #888888;
}
.macode-id{
    color: #2eddaf;
    text-decoration: none;
}
.morney{
    display: flex;
    justify-content: center;
}
.mbr-ed{
    color: #fff;
}
.sub-change:hover .variable {
    background: #898798;
}
.variable{
    line-height: 45px;
}.sub-change:hover .change{
    background: #898798;
    border:solid 1px #898798;
}
.change{
    border-radius: 5px;
    padding: 10px 20px;
}
.font-icon{
    display: none;
}
.bg-brow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.the-number{
    margin-bottom: 10px;
    font-weight: 100;
    color: #645F88;
    font-size: 40px;
}
.text-small {
    font-size: 15px;
    color: #898798;
}
.onsite{
    font-size: 25px;
    margin: 15px;
}
.keywords{
    color: #a4a1c8;
    font-size: 15px;
}
.Campaign{
    color: #D7D5E9;
}
.smail-number{
    font-size: 20px;
    color: #C9C7DC;
}
.pricing-plan{
    color: #898798;
    font-size: 20px;
    letter-spacing: 3px;
}
.plan{
    font-size:40px;
    color: #645F88;
    font-weight: 100;
}
.per-month{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.title-five{
    padding: 5px 0;
}
.basic{
    font-size: 20px;
    color: #645F88;
}
.conten-x{
    font-size: 20px;
    font-weight: 100;
}
.consetetur {
    color: #898798;
    font-size: 15px;
}
.about-us{
    letter-spacing: 3px;
    color: #898798;
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 15px;
}
.our-servicer{
    color: #898798;
    font-weight: 500;
    font-size: 20px;
}
.can-help{
    font-size: 40px;
    font-weight: 500;
    color: #645F88;
}
.improve{
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
}
.pope-title {
    color: #898798;
    font-weight: 500;
}
.optimize{
    color: #645F88; 
    font-weight: 500; 
    line-height: 50px;
    font-size: 40px;
}
.ignite{
    font-size: 18px;
    color: #8e8aad;
    font-weight: 500;
}
.Consultancy {
    font-size: 20px;
    color: #645F88;
    font-weight: 500;
}
.sub-bg{
    font-size: 15px;
    color: #898798;
}
.check-mb{
    font-size: 35px;
    font-weight: 500;
}
@media screen and (max-width : 992px) and (min-width: 768px){
    .row-align{
        width: 90%;
    }
    .image-one{
        width: 100%;
    }
    .row-lg{
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .col-bg{
        width: 50%;
    }
    .bag-bj{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .bag-bj-one, .bag-bj-two{
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
    }
    .mai-business{
        width: 100%;
    }
    .sub-mai-business{
        width: 50%;
    }
    .check-mb{
        font-size: 35px;
    }
    .optimize{
        font-size: 30px;
        color: #645F88;
    }
    .ignite{
        font-size: 20px;
    }
    .Consultancy{
        font-size: 20px;
        color:#645F88;
    }
    .OnSite{
        font-size: 20px;
        font-weight: 100;
    }
    .col-hg{
        width: 100%;
    } 
    .check-now{
        padding-left: 20px;
        padding-right: 20px;
    }
    .row-mt{
        flex-direction: column;
        margin: auto;
        align-items:center;
    }
    .card-pricing{
        width: 30%;
    }
    .sitbeo{
        flex-direction: column;
    }
    .waiter{
        width: 100%;
    }
    .sitbeo-two{
        text-align: center;
    }
    .row-image{
        flex-direction: column;
        align-items:center;
    }
    .index{
        width: 50%;
    }
    .rbg-sc{
        flex-direction: column;
        width: 100%;
    }
    .sol{
        width: 100%;
    }
    .nav-bal{
        justify-content: space-between;
        position: relative;
    }
    .font-icon{
        display: block;
        position: absolute;
        right: 10px;
        border: solid 2px #888888;
        border-radius: 5px;
        padding: 10px;
    }
    .nav-bal-two{
        flex-direction: column;
        display: none;
        top:50px;
    }
    .nav-bal:hover .nav-bal-two{
        display: block;
    }
    .fa-align-justify{
        color: #020202;
    }
}
@media screen and (max-width:768px) {
    .row-align{
        width: 70%;
        flex-direction: column-reverse;
    }
    .image-one{
        width: 100%;
    }
    .row-lg{
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .col-bg{
        width: 50%;
    }
    .bag-bj{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .bag-bj-one, .bag-bj-two{
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
    }
    .mai-business{
        width: 100%;
    }
    .sub-mai-business{
        width: 50%;
    }
    .optimize{
        font-size: 40px;
        color: #645F88;
        font-weight: 100;
        line-height: 50px;
    }
    .ignite{
        font-size: 20px;
    }
    .OnSite{
        font-size: 20px;
        font-weight: 100;
    }
    .col-hg{
        width: 100%;
    } 
    .check-now{
        padding-left: 20px;
        padding-right: 20px;
    }
    .row-mt{
        flex-direction: column;
        margin: auto;
        align-items:center;
    }
    .card-pricing{
        width: 40%;
    }
    .sitbeo{
        flex-direction: column;
    }
    .waiter{
        width: 100%;
    }
    .sitbeo-two{
        text-align: center;
    }
    .row-image{
        flex-direction: column;
        align-items:center;
    }
    .index{
        width: 60%;
    }
    .rbg-sc{
        flex-direction: column;
        width: 100%;
    }
    .sol{
        width: 100%;
    }
    .nav-bal{
        justify-content: space-between;
        position: relative;
    }
    .font-icon{
        display: block;
        position: absolute;
        right: 10px;
        border: solid 2px #888888;
        border-radius: 5px;
        padding: 10px;
    }
    .nav-bal-two{
        flex-direction: column;
        display: none;
        top:50px;
    }
    .nav-bal:hover .nav-bal-two{
        display: block;
    }
    .fa-align-justify{
        color: #020202;
    }
    .row-align-one,.row-align-two{
        width: 80%;
    }
    .nav-small{
        font-size: 20px;
        font-weight: 700;
    }
    .about-us{
        color: #898798;
        font-size: 20px;
    }
    .the-number{
        font-size: 30px;
    }
    .consetetur{
        color: gray;
        font-size: 20px;
    }
}





